<form method="post" action="{{ path('app_classe_delete', {'id': item.classe.id}) }}" onsubmit="return confirm('Etes-vous sûr de supprimer cette classe?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.classe.id) }}">
    <button class="btn">Supprimer</button>
</form>
