{% extends 'base.html.twig' %}

{% block title %}New Classe{% endblock %}

{% block body %}


    <div class="min-h-screen flex flex-col">
        <div class="flex-1 flex flex-row ">
            {% include 'dashboards/navbar.html.twig' %}
            <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
                <div class="container mx-auto  h-full">

                    <div class="bg-white shadow  h-full p-4 sm:p-6 xl:p-8 ">
                        <div class="w-1/2 mx-auto">
                            <div class="font-bold text-black tracking-wide text-xl mb-16 text-center">Ajouter une nouvelle classe
                            </div>
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            {{ form_end(form) }}

                        </div>
                    </div>

                </div>

        </div>
        </main>

    </div>
    </div>
{% endblock %}
