{% extends 'base.html.twig' %}

{% block title %}formateur dashboard{% endblock %}

{% block body %}



  <div class="min-h-screen flex flex-col">
    <div class="flex-1 flex flex-row ">
      {% include 'dashboards/navbar.html.twig' %}  
        

        <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
            <div class="container mx-auto  h-full">
                
                <div class="bg-white shadow  h-full p-4 sm:p-6 xl:p-8 ">
                <div class="font-bold text-black tracking-wide text-xl mb-16">Classes</div>
                    <div class="flex mb-8">
                        <div class="flex flex-1">
                        <div class="flex items-start">
                            <select id="exampleSelect" name="exampleSelect">
                                <option value="option1">catégorie</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                                <option value="option4">Option 4</option>
                            </select>
                            <select id="exampleSelect" name="exampleSelect">
                                <option value="option1">Niveau</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                                <option value="option4">Option 4</option>
                            </select>
                        </div>
                        </div>
                        <div class="flex flex-1 flex-row-reverse">
                        
                        <input type="text" name="recherche" id="recherche" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block  p-2.5 " placeholer="search" required="">

                        <button class="mr-4 p-2 border border-black border-2">Ajouter</button>
                        </div>
                    </div>
                    


                    <div class="mt-8 grid grid-cols-2 sm:grid-cols-4 gap-4">
                    <!-- debut ligne classes -->
                    <div class="bg-white rounded-lg shadow p-4 h-80">
                            <div class="flex-col items-center space-x-3 h-full">
                                <div class="inline-flex flex-shrink-0 h-60 w-full">
                                    <span class=" w-40 bg-gray-300 h-full w-full">
                                        <!-- Thumbnail image -->
                                    </span>
                                </div>
                                <div>
                                    <p class="text-sm font-medium text-gray-900">
                                        Titre de la carte
                                    </p>
                                    <p class="text-sm text-gray-500">
                                        Texte secondaire
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                    <!-- fin ligne classes -->
                    </div>
                </div>
                </div>
                
            </div>
        </main>
        
    </div>
</div>

{% endblock %}