{% extends 'base.html.twig' %}

{% block title %}formateur dashboard{% endblock %}

{% block body %}

  <div class="min-h-screen flex flex-col">
    <div class="flex-1 flex flex-row ">
      {% include 'dashboards/navbar.html.twig' %}  
        

        <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
            <div class="container mx-auto  h-full">
                
                <div class="bg-white shadow  h-full p-4 sm:p-6 xl:p-8 ">
                    <div class="flex mb-8">
                        <div class="flex flex-1">
                        <div class="flex items-start">
                            <select id="exampleSelect" name="exampleSelect">
                                <option value="option1">catégorie</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                                <option value="option4">Option 4</option>
                            </select>
                            <select id="exampleSelect" name="exampleSelect">
                                <option value="option1">Niveau</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                                <option value="option4">Option 4</option>
                            </select>
                        </div>
                        </div>
                         {% if app.user.getStatut == "formateur" %}
                        <div class="flex flex-1 flex-row-reverse">
                            <a href="{{ path('app_cours_add') }}" class="inline-flex items-center px-4 py-2 bg-green-500 hover:bg-green-700 text-white font-bold rounded-md">Ajouter</a>
                        </div>
                         {% endif %}

                    </div>
                    


                    <div class="mt-8 grid grid-cols-2 sm:grid-cols-4 gap-4">
                    <!-- debut ligne classes -->
                    
                    {% for obj in cours %}
                    <a href="/cours/{{ obj.id }}">
                    <div class="bg-white rounded-lg shadow p-4 h-80">
                            <div class="flex-col items-center space-x-3 h-full">
                                <div class="inline-flex flex-shrink-0 h-60 w-full">
                                    <span class=" w-40 bg-gray-300 h-full w-full">
                                        <!-- Thumbnail image -->
                                    </span>
                                </div>
                                <div>
                                    <p class="text-sm font-medium text-gray-900">
                                        {{ obj.titre }}
                                    </p>
                                    <p class="text-sm text-gray-500">
                                       {{ obj.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                       </a>     
                    {% endfor %}
                    <!-- fin ligne classes -->
                    </div>
                </div>
                </div>
                
            </div>
        </main>
        
    </div>
</div>

{% endblock %}