{% extends 'base.html.twig' %}

{% block title %}formateur dashboard{% endblock %}

{% block body %}



  <div class="min-h-screen flex flex-col">
    <div class="flex-1 flex flex-row ">
        {% include 'dashboards/navbar.html.twig' %} 

        <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
            <div class="container mx-auto  h-full">
                
                <div class="bg-white shadow  h-full p-4 sm:p-6 xl:p-8 ">
                <div class="font-bold text-black tracking-wide text-xl mb-16">Tableau de bord</div>
                    <div class="mb-4 flex justify-between items-center">
                        
                        
                        
                        
                    </div>

                    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
                        <div class="p-4 bg-green-500  shadow text-white">
                        <div class="text-sm font-semibold m-1 tracking-wide">Nombre de Cours</div>
                            {{ cours_count }} 
                        </div>
                        <div class="p-4 bg-gray-500  shadow text-white">
                        <div class="text-sm font-semibold  tracking-wide">Prochain examen prévu</div>
                            N/A
                        </div>
                        
                        
                        
                    </div>
                    <div class="border-b border-gray-300 h-10">
                    <p class="m-8 ml-0 font-bold text-black tracking-wide text-xl ">Acces rapid aux cours</p>
                    </div>
                    <div class="mt-8 grid grid-cols-1 sm:grid-cols-4 gap-4">
                        <!-- Replace with dynamic content -->
                        {% for obj in cours %}
                        <a href="/cours/{{ obj.id }}">
                        <div class="bg-white rounded-lg shadow p-4 h-80">
                            <div class="flex-col items-center space-x-3 h-full">
                                <div class="inline-flex flex-shrink-0 h-60 w-full">
                                    <span class=" w-40 bg-gray-300 h-full w-full">
                                        <!-- Thumbnail image -->
                                    </span>
                                </div>
                                <div>
                                    <p class="text-sm font-medium text-gray-900">
                                        {{obj.titre}}
                                    </p>
                                    <p class="text-sm text-gray-500">
                                        {{obj.description}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        </a>
                       {% endfor %}

                        <div class="bg-white rounded-lg shadow flex items-center justify-center p-4 h-80">
                            <a href="/cours"><p class="border-black border-1 border p-4">Voir tous les cours ---></p></a>
                        </div>

                        <!-- Repeat for other cards -->
                    </div>

                </div>
                
            </div>
        </main>
        
    </div>
</div>

{% endblock %}