{% extends 'base.html.twig' %}

{% block title %}formateur dashboard{% endblock %}

{% block body %}



  <div class="min-h-screen flex flex-col">
    <div class="flex-1 flex flex-row ">
        
        <nav class="flex flex-col justify-between items-center p-6 bg-white shadow border-solid border-grey border">
            <div class="flex-1  space-x-4">
                <div class="flex flex-col items-center">
                    <span class="h-20 w-20 mb-4 rounded-full overflow-hidden bg-gray-100">
                        <!-- User's avatar goes here -->
                    </span>
                    <span class="font-medium text-gray-700">Audrey Hossepian</span>
                </div>
            </div>
            <div class="flex-1 flex flex-col space-x-4 justify-evenly">
            <p><a>Organismes</a></p>
            <p classe="m-0"><a>Classe</a></p>
            <p><a>Eleves</a></p>
            <p><a>Cours</a></p>
            </div>
            <div class="flex-1 flex flex-col-reverse space-x-4 items-bottom mt-auto">
                <p><a>Modifier les informations du profil</a></p>
            </div>
        </nav>

        <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
            <div class="container mx-auto  h-full">
                
                <div class="bg-white shadow  h-full p-4 sm:p-6 xl:p-8 ">
                <div class="font-bold text-black tracking-wide text-xl mb-16">Tableau de bord</div>
                    <div class="mb-4 flex justify-between items-center">
                        
                        
                        
                        
                    </div>

                    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
                        <div class="p-4 bg-green-500  shadow text-white">
                        <div class="text-sm font-semibold m-1 tracking-wide">Nombre de classes</div>
                            4
                        </div>
                        <div class="p-4 bg-gray-500  shadow text-white">
                        <div class="text-sm font-semibold  tracking-wide">Prochain examen prévu</div>
                            N/A
                        </div>
                        <div class="p-4 bg-pink-500 shadow text-white">
                        <div class="text-sm font-semibold  tracking-wide">Prochain cours</div>
                            22/02/2024 15h
                        </div>
                    </div>
                    <div class="border-b border-gray-300 h-10">
                    <p class="m-8 ml-0 font-bold text-black tracking-wide text-xl ">Acces rapid aux cours</p>
                    </div>
                    <div class="mt-8 grid grid-cols-1 sm:grid-cols-3 gap-4">
                        <!-- Replace with dynamic content -->
                        <div class="bg-white rounded-lg shadow p-4 h-80">
                            <div class="flex-col items-center space-x-3 h-full">
                                <div class="inline-flex flex-shrink-0 h-60 w-full">
                                    <span class=" w-40 bg-gray-300 h-full w-full">
                                        <!-- Thumbnail image -->
                                    </span>
                                </div>
                                <div>
                                    <p class="text-sm font-medium text-gray-900">
                                        Titre de la carte
                                    </p>
                                    <p class="text-sm text-gray-500">
                                        Texte secondaire
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="bg-white rounded-lg shadow p-4 h-80">
                            <div class="flex-col items-center space-x-3 h-full">
                                <div class="inline-flex flex-shrink-0 h-60 w-full">
                                    <span class=" w-40 bg-gray-300 h-full w-full">
                                        <!-- Thumbnail image -->
                                    </span>
                                </div>
                                <div>
                                    <p class="text-sm font-medium text-gray-900">
                                        Titre de la carte
                                    </p>
                                    <p class="text-sm text-gray-500">
                                        Texte secondaire
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="bg-white rounded-lg shadow p-4 h-80">
                            <div class="flex-col items-center space-x-3 h-full">
                                <div class="inline-flex flex-shrink-0 h-60 w-full">
                                    <span class=" w-40 bg-gray-300 h-full w-full">
                                        <!-- Thumbnail image -->
                                    </span>
                                </div>
                                <div>
                                    <p class="text-sm font-medium text-gray-900">
                                        Titre de la carte
                                    </p>
                                    <p class="text-sm text-gray-500">
                                        Texte secondaire
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Repeat for other cards -->
                    </div>

                </div>
                
            </div>
        </main>
        
    </div>
</div>

{% endblock %}