<form method="post" action="{{ path('app_cours_delete', {'id': cour.id}) }}" onsubmit="return confirm('Etes-vous sûr de supprimer ce cours?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cour.id) }}">
    <button class="btn bg-red-600 p-2 font-bold text-white rounded-lg">Delete</button>
</form>
