{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn w-full text-center bg-orange-500 py-2 rounded-md text-white">{{ button_label|default('Sauvegarder la modification') }}</button>
{{ form_end(form) }}
